.body{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    min-height: 100vh; 
    margin: 0;
    --s: 60px;
    --c1: #6ca700;
    --c2: #406102;
    --_g: radial-gradient(
      25% 25% at 25% 25%,
      var(--c1) 99%,
      rgba(0, 0, 0, 0) 101%
    );
    background: var(--_g) var(--s) var(--s) / calc(2 * var(--s))
        calc(2 * var(--s)),
      var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
      radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s)
        var(--s),
      repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%)
        calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
}
.container {
    width: min(450px, 90%);
    background: #7abb02;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px 20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 20px;
}

.container p {
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.31rem;
    padding: 1rem 1.75rem;
    border-bottom: 1px solid #dcf5de;
}

.wrapper {
    margin: 1.25rem 1.75rem;
}

.wrapper .input-box {
    position: relative;
}

.input-box input {
    width: 83%;
    height: 55px;
    color: #fff;
    background: #568008;
    font-size: 1.06rem;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1.4px;
    border: 1px solid #000;
    padding: 0 2.85rem 0 1rem;
}

.input-box span {
    position: absolute;
    right: 13px;
    cursor: pointer;
    line-height: 53px;
    color: #f7faf2;
}

.input-box span:hover {
    color: #021801 !important;
}

.wrapper .pass-settings {
    margin: 1.56rem 1.25rem;

}

.pass-settings .options {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.pass-settings .options .option {
    display: flex;
    align-items: center;
    width: calc(100% /2);
    margin-bottom: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.options .option:first-child input {
    opacity: 0.7;
}

.options .option input {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.options .option label {
    cursor: pointer;
    color: #000;
    padding: 0.4rem;
}

.pass-settings input[type="checkbox"] {
    accent-color: #07441e;
}

.wrapper .generate-btn {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    cursor: grab;
    background: #2e770c;
    font-size: 1.06rem;
    font-family: 'Times New Roman';
    padding: 0.94rem;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0.94rem 0 1.3rem;
}

.wrapper .generate-btn:hover {
    background: #4e720a;
}